@charset "UTF-8";

@media screen and (min-width:1024px){
    #btn-menu{
        display: none;
    }
    #header_top_mobile{
        display: none;
    }
}

*{
    padding: 0%;
    margin: 0%;
    font-size: 14px;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color_web_corpoPaginar: #212121;
    --color_web_corpoPaginar_02: #1b1b1b;
    --color_web_NavPaginar: #74fac0;
    --color_web_NavAncoras: #fff;
    --color_web_informacoes: #fff;
    --color_web_informacoes_botton: #000000;
    --color_web_informacoes_h2: #74fac0;

    --font_web_Navpaginar:#;
}

/* cabeçalho */
header {
   max-width: 100%;
   background-color: var(--color_web_corpoPaginar);
}
section#header_top{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section#header_top > a{ /*logo-imagem*/
    padding: 5px;
}
#menu_desktop{
    display: flex;
    align-items: center;
}
#menu_desktop > a {
    margin-left: 50px;
    text-decoration: none;
    color: var(--color_web_NavAncoras);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    transition: .4s;
}
#menu_desktop > a:hover{
    color: var(--color_web_NavPaginar);
}
#menu_desktop > a:nth-child(1){
    margin-left: 0;
}
#menu_desktop > a > li{
    padding: 8px;
    font-size:.9rem;
}
#All_projetos{
    padding: 10px 40px;
    border-radius: 45px;
    color: var(--color_web_corpoPaginar) !important;
    background-color: var(--color_web_NavPaginar);
}
#All_projetos:hover{
    background-color: #57b98f;
    color: var(--color_web_NavAncoras);
}
#All_projetos > li {
    transition: .4s;
}
#All_projetos > li:hover{
    color: var(--color_web_NavAncoras);
}
/* cabeçalho FIM*/

/*informacoes inicial 01*/
main > section{
    width: 100%;
    height: 100%;
    background-color: var(--color_web_corpoPaginar);
}
#informacoes_inicial{
    width: 100%;
    height: 640px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
#container_informacoes{
    width: 70%;
    padding-left: 110px;
}
#container_informacoes > p:nth-child(1){
    font-family: Arial, Helvetica, sans-serif;
    color:var(--color_web_informacoes);
    font-size: 1.5rem;
}
#container_informacoes > h1{
    width: 80%;
    font-size: 4rem;
    padding: 10px 0px 10px 0px;
    color: var(--color_web_informacoes);
    font-family: Arial, Helvetica, sans-serif;
}
#container_informacoes > h2{
    padding-bottom: 14px;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color_web_informacoes_h2);
}
#container_informacoes > p:nth-child(4){
    width: 80%;
    padding-bottom: 16px;
    font-size: 1.3rem;
    color: var(--color_web_informacoes);
    font-family: Arial, Helvetica, sans-serif;
}
#botton_contate-me{
    display: flex;
    justify-content: center;
    width: 30%;
    padding: 10px;
    border-radius: 40px;
    background-color: var(--color_web_informacoes_h2);
    transition: .6s;
}
#botton_contate-me > a{
    text-decoration: none;
    color: var(--color_web_informacoes_botton);
}
#botton_contate-me:hover{
    background-color:#3f8b6a;
}
#botton_contate-me > a > li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}
/*informacoes inicial 01 final*/

/*section id = mytecnologia*/

section#mytecnologia{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color_web_corpoPaginar_02);
}
li#tec-name-mytecnologia{
    margin: -10px 0px 100px 0px;
}
li#tec-name-mytecnologia > h1{
    color: var(--color_web_informacoes);
    font-size: 3.5rem;
    font-family: Arial, Helvetica, sans-serif; /*organizar*/
}
li#tec-name-mytecnologia > p{
    color: var(--color_web_informacoes);
    font-family: Arial, Helvetica, sans-serif; /*organizar*/
    font-size: .8rem;
    margin-top: 5px;
}
div#container-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
a.just-nametecnologia{ /*alinhamento do text das tecnologia*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
a.just-nametecnologia > h1#nametecnologia{
    color: var(--color_web_informacoes);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    margin-top: 20px;
}
div.container-tecnologia{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 50%;
    border: solid #fff;
    background-color: rgba(59, 59, 59, 0.24);
    transition: .5s;
}
div.container-tecnologia:hover{
    box-shadow: 0px 0px 40px #74fac0;
    border: solid #74fac0 18px;
}
/*section id = mytecnologia FIM*/

/*section id = container_projetos_all*/

section#container_projetos_all{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
li#NameProjetos-ajust > h1 {
    color: var(--color_web_informacoes);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    margin: 50px 0px 50px 0px;
}
div#box-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
div#box_link_projetos{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    background-color: #ffffff; /*organizar*/
    box-shadow: 0px 0px 30px #070707ea;
}
img#ajust_projetos_login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
}
div#box_link_projetos > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    color: #3e3166;
    padding: 10px;
}
div#box_link_projetos > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-indent: 15px;
    width: 90%;
    text-align: justify;
}
div#link_pro_rep{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#button_projetos_login{
    margin: 20px 0px 20px 0px;
    padding: 10px;
    background: transparent;
    border: solid 2px #3f8b6a;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s;
}
#button_projetos_login:hover{
    box-shadow: 0px 0px 0px 4px #3f8b6a;
}
#button_projetos_login > h1{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}