@charset "UTF-8";

@media screen and (min-width:767px) and (max-width:1023px) {
    #btn-menu{
        display: none;
    }
    #header_top_mobile{
        display: none;
    }

    /*adptação-contudo da pagina*/

    img#config-mobile{ /*imagen-mobile-confg*/
        width: 300px;
        position: relative;
    }
    #informacoes_inicial{
        padding-top: 140px;
    }
    #container_informacoes{
        width: 100%;
        padding: 10px;
        margin-left: 80px;
    }
    #botton_contate-me{
        width: 50%;
    }

    /*section id = mytecnologia*/

    section#mytecnologia{
        height: 600px;
    }

    li#tec-name-mytecnologia{
        width: 70%;
        margin: -100px 0px 100px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    li#tec-name-mytecnologia > p{
        margin-top: 0px;
    }
    div#container-img{
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    img.mobile-tec-just{ /*controlo tamanho das imagens*/
        width: 60px;
    }
    div.container-tecnologia{
        width: 140px;
        height: 140px;
        padding: 10px;
    }
}