/*configuração do menu mobile */
/*configuração do menu-hamburguer*/
#btn-menu.ativar .linha1 {
    transform: translateY(10px) rotate(-54deg);
    background-color: red;
}

#btn-menu.ativar .linha2 {
    width: 0%;
}

#btn-menu.ativar .linha3 {
    width: 30px;
    transform: translateY(-11px) rotate(49deg);
    background-color: red;
}

@media screen and (max-width: 1030px) {
    header>div.container>div.menu-mobile.abrir {
        display: block;
        height: 100%;
    }

    header>div.container>div.menu-mobile {
        transition: 1s;
    }
}

/*configuração do menu-hamburguer*/