@charset "UTF-8";

@media screen and (min-width: 1024px) {
    header>div.container>div.menu-mobile {
        display: none;
    }

    header>div.container>button {
        display: none;
    }

    .nav-list-about>ul {
        margin-bottom: 90px;
    }
}