@charset "UTF_8";

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');


:root {
    --font01: 'Lobster Two', cursive;
    --font02: 'Mukta Malar', sans-serif;
    --font03: 'Anonymous Pro', monospace;
}

/*midias de dispositivo moveis*/
/*midias para dispositivos 767px tela*/

/*midias para modelos estilos s20 ultra*/
@media screen and (max-width: 767px) {
    header>div.container>div.menu-desktop {
        display: none;
    }

    header>div.container>div.menu-mobile {
        display: none;
    }

    header>div.container:nth-of-type() {
        display: flex;
        flex-wrap: nowrap;
    }

    .logo>h1 {
        font-size: 5vh;
    }



    /*buttão mobile*/

    button#btn-menu {
        width: 100px;
        border-radius: 10px;
        border: none;
        background: transparent;

        cursor: pointer;

    }

    button#btn-menu .linha1 {
        margin-left: 55px;
        width: 30px;
        height: 2px;
        background-color: #ccc;
        display: block;

        position: relative;
        transform-origin: center;

        transition: 1s;
    }

    button#btn-menu .linha2 {
        margin: 9px 10px 8px 55px;
        width: 20px;
        height: 2px;
        background-color: #ccc;
        display: block;

        position: relative;
        transform-origin: center;

        transition: 0.7s;
    }

    button#btn-menu .linha3 {
        margin-left: 55px;
        width: 16px;
        height: 2px;
        background-color: #ccc;
        display: block;

        position: relative;
        transform-origin: center;

        transition: 1s;
    }

    header>div.container>div#menu-mobile>nav {
        display: flex;
        flex-direction: column;

        margin-top: 20px;
    }

    #menu-mobile>nav>a {
        width: 100vw;
        padding: 10px;
        text-indent: 20px;
        font-family: var(--font03);

        text-decoration: none;
        color: rgba(255, 255, 255, 0.397);
        border: .1mm solid rgba(255, 255, 255, 0.062);
    }

    #menu-mobile>nav>ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        padding: 20px;
    }

    #menu-mobile>nav>ul>a {
        margin-left: 55px;
    }

    #menu-mobile>nav>ul>a>img {
        padding: 8px;
        border-radius: 10px;
        box-shadow: 1px 0px 14px rgba(255, 255, 255, 0.315);
        border: 1px solid rgba(255, 255, 255, 0.486);
        background-color: rgba(128, 128, 128, 0.11);
    }

    /*main incio*/
    .conteudo-sessao01>h1 {
        text-indent: 20px;
        margin-top: 20px;
    }

    .conteudo-sessao01>h2 {
        font-size: 5vh;
        text-indent: 20px;
    }

    .conteudo-sessao01>p {
        margin-left: 10px;
        font-size: 1.8vh;
    }

    section .conteudo-sessao01>button {
        margin-left: 20px;
    }

    /*main incio*/

    /*conteudo do about*/
    .conteudo-about {
        text-align: justify;
        width: 320px;
        margin-bottom: 40px;
        margin-left: -20px;
    }

    .nav-list-about>ul>div.nav-01>p {
        color: rgba(255, 255, 255, 0.534);
        font-size: 2vh;
        text-indent: -10px;
    }

    .nav-list-about>ul>div.nav-02>p {
        color: rgba(255, 255, 255, 0.534);
        font-size: 2vh;
        text-indent: -40px;
    }

    /*conteudo do about*/
    /*sessão 02 inicio*/
    .conteiner-about>div.img-about {
        box-shadow: 1px 1px 30px #ff0014;
    }

    /*sessão 02 inicio*/
    /*nav-list-about*/
    .nav-list-about>ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        width: 300px;
        font-size: 1.2vh;
    }

    /*nav-list-about*/

    /*conteiner-sessao04*/
    .conteudo-bloco-01 {
        background-color: rgb(31, 29, 29);
        border-radius: 20px;
        width: 390px;
        padding: 20px;
        margin-top: 30px;
        margin-right: 0px;
    }

    /*conteiner-sessao04*/

    /*footer-web-site*/
    .conteudo-footer-01>h1 {
        text-align: justify;
    }

    .conteudo-footer-01 input#pesquisarid {
        margin-top: 40px;
        margin-left: -6%;
    }

    .conteudo-footer-01 input#button-join {
        margin-top: 40px;
    }

    footer>section#container-sessao04 {
        flex-direction: column;
    }

    footer section div.conteudo-footer-02 {
        padding-top: 10px;
        padding-bottom: 10px;

        flex-wrap: nowrap;
        align-items: center;
    }

    /*footer-web-site*/
}

/*midias de dispositivo moveis*/
/*midias para dispositivos 360px tela*/

/*midias para modelos pequenos moto G4*/

@media screen and (min-width: 321px) and (max-width: 393px) {

    /*conteudo do about*/
    .nav-list-about>ul>div.nav-01>p {
        margin-left: -16%;
    }

    .nav-list-about>ul>div.nav-02>p {
        margin-left: -20%;
    }

    /*conteudo do about*/

    /*conteiner-sessao04*/
    .conteudo-bloco-01 {
        width: 320px;
    }

    /*conteiner-sessao04*/
    /*footer-web-site*/
    footer>section#container-sessao04 {
        flex-direction: column;
    }

    footer section div.conteudo-footer-02 {
        padding-top: 10px;
        padding-bottom: 10px;

        flex-wrap: nowrap;
        align-items: center;
    }

    /*footer-web-site*/
}

/*midias de dispositivo moveis*/
/*midias para dispositivos 320px tela*/

/*midias para modelos pequenos galaxy S9+*/

@media screen and (max-width: 320px) {

    /*conteudo do about*/
    .nav-list-about>ul>div.nav-01>p {
        margin-left: -20%;
    }

    .nav-list-about>ul>div.nav-02>p {
        margin-left: -24%;
    }

    /*conteudo do about*/

    /*conteiner-sessao04*/
    .conteudo-bloco-01 {
        width: 290px;
    }

    /*conteiner-sessao04*/

    /*footer-web-site*/
    footer>section#container-sessao04 {
        flex-direction: column;
    }

    footer section div.conteudo-footer-02 {
        padding-top: 10px;
        padding-bottom: 10px;

        flex-wrap: nowrap;
        align-items: center;
    }

    /*footer-web-site*/
}